services:
  authentication:
    build: .
    container_name: authentication
    ports:
      - $PORT:$PORT
    environment:
      - PORT
    volumes:
      - "config:/etc/authconfig"
    image: lucas42/lucos_authentication
    restart: always

volumes:
  config: